psycopg
psycopg-pool
python-dotenv
langgraph>=0.2.0
pydantic
langchain
langchain-openrouter
langchain-postgres
langchain-openai
langchain-google-genai
langchain-core
asyncpg
langgraph-cli[inmem]
langgraph-sdk
pandas
pywin32
langchain-community
langchain-text-splitters
pytesseract
Pillow
pypdf
docx2txt
unstructured
openpyxl
deepeval
deepeval[inspect]
deepteam
sentry-sdk